.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 640px) {
  .contentWrapper {
    width: 95%;
  }
}

@media screen and (max-width: 420px) {
  .contentWrapper {
    width: 90%;
  }
}
