@import "../../../scss/mixins";

.buttonWrapper {
  @include rowCenterFlex();
  justify-content: center;
  button {
    @include rowCenterFlex();
    justify-content: center;
    @include btn(95px, 29px, #c4183c, #ffffff);
  }
}

@media screen and (max-width: 460px) {
  .buttonWrapper {
    button {
     width: 65px;
    }
  }
}
